@charset "utf-8";

/*초기화요소*/
ol,ul{list-style: none;}
*{margin: 0; padding: 0;}

hr{opacity: 0;}

a:hover,a:active,a:link,a:visited,a:focus{color:#000;text-decoration: none;}


body{color:#000; font-size:16px; line-height: 26px;}




/*TOP영역*/
.top_bg{position: relative;}
.bg{width: 100%; height: 150px; background:rgba(0,0,0,0.3);
position: absolute; top:0; left: 0;}
.tatle_top p{position: absolute; left: 50%; top:45px; transform: translateX(-50%); font-size: 50px; font-weight: bold;color:#fff;}
.top_txt{float:right;}
.top_txt li{float:left;}
.top_txt li a {display:block; padding: 5px 0 0 20px;font-size:14px; color:#fff;}
.menu_bar .aaaa{position: absolute;right:10px; top:-120px;}

/*헤더영역*/


#header .header_inner{width: 1300px; margin: 0 auto;}

#header .menu_bar{width: 1300px; height: 60px; background: #febf10;position: relative;margin-top: -40px;box-shadow: 0px 2px 2px rgba(0,0,0,0.2);}

#header .txt1{width: 436px; position: absolute;top: 0; left: 50%; transform: translateX(-50%);}
#header .txt1 li{float:left;}
#header .txt1 li a {display: block; padding: 5px 10px; font-size:16px; font-weight: bold;margin-top: 13px; background: rgba(255,255,255,0%); margin-right: 10px;text-align: center; border-radius: 10px; transition: 0.2s;}
#header .txt1 li a:focus{background:rgba(255,255,255,100%);}
#header .txt1 li a:hover{background:rgba(255,255,255,100%);}



#header .menu_bar2 {width: 1200px; height: 30px; background: #eee;position: absolute; left: 50%; top:178px; transform: translateX(-50%);z-index: -1; clear: both; box-shadow: 0px 2px 2px rgba(0,0,0,0.2);}
#header .txt2{width: 350px; float:left;}
#header .txt2 li{float:left;}
#header .txt2 li a {display: block; padding: 1px 10px; font-size:12px; color:#707070;}

/*lnb 영역 왼쪽!!!*/
#contents {height: 2900px;margin-top: 150px;}
#contents .contents_inner{width: 1200px; margin: 0 auto;}

#contents .con_left{float:left; }
#contents .con_left li{width: 200px; background: rgba(0,0,0,0.8); text-align: center;padding: 15px 0;
transition: 0.3s;}
#contents .con_left li a{color:#fff; font-size:14px; }

#contents .con_left li:first-child{height: 130px; background: #fff; border: 1px solid #707070;padding-top: 70px; margin-bottom: 5px;}
#contents .con_left li:nth-child(8){padding:500px 0 20px 0;
border-bottom: 50px solid #febf10;}
#contents .con_left li:nth-child(8) p{font-size:20px; font-weight: bold;}
#contents .con_left li:nth-child(8) a{font-size:12px;}
#contents .con_left li:nth-child(8) img{transform: translateY(6px) translateX(-2px);}




#contents .con_left li:hover{background:#febf10;}
#contents .con_left li:hover a{color:#000; font-weight: bold;}
#contents .con_left li:nth-child(8):hover{background: rgba(0,0,0,0.8);}
#contents .con_left li:nth-child(8):hover p{color:#fff;}
#contents .con_left li:nth-child(8):hover a{color:#fff;font-weight:normal;}
#contents .con_left li:first-child{background:#fff;}
#contents .con_left li:last-child{padding-bottom: 1200px; background: none;}







/* 메뉴영역  오른쪽!!!-------------*/

#contents .menu{width: 930px; margin: 0 auto; float:left;}
#contents .right{float:right;}
#contents .menu li {width: 217px;position: relative;float:left; margin-right: 20px; margin-bottom: 150px;transition: 0.5s;}
#contents .menu li:last-child{margin-right: 0;}
#contents .menu_bg{width: 217px; height: 217px; background:rgba(0,0,0,0.3); position: absolute;left: 0; top: 0; transition: 0.5s;}
#contents .slid_bg{width:217px; height: 100px;
 background-color:#eee;
    position: absolute;left:0; bottom: -12px; top:217px;z-index:77778;}
#contents .slid_bg p {padding-top: 5px;}



#contents .menu li p{font-size:14px; font-weight: bold;line-height: 23px;padding-left: 5px;}
#contents .menu li p span{font-size:23px;}
#contents .menu li p span>span{font-size:8px;color:#707070;font-weight: normal;}
#contents .menu li h1{font-size:12px; font-weight: normal; color:#707070;padding-left: 5px;}
#contents .menu li h1 img{transform: translateY(4px) translateX(-2px);padding-top: 5px;}
#contents .menu li .b_icon{width: 20px; height: 22px;padding: 6px; position: absolute;right: 5px;bottom:43px;}
#contents .menu li .h_icon{width: 20px; height: 22px;padding: 6px; position: absolute;right: 5px;bottom:2px;}
#contents .menu li:hover .menu_bg{background:rgba(0,0,0,0.0);}







/*메뉴선택_슬라이드업 영역*/
#contents .slid_bg1{width:217px; height: 80px;
 background: rgba(0,0,0,0.8);
    position: absolute;left:0; bottom:0;z-index:77777; transform: translateY(80px); transition: 0.5s; }
#contents .slid_bg1 .heart{float:left;padding:10px 0 5px 0;width: 108.5px;text-align: center;}
#contents .slid_bg1 .heart:hover{background: #f00;}
#contents .slid_bg1 .heart p{font-size:10px;color:#fff;margin-left: -5px;}
#contents .slid_bg1 .basket{float:left;padding:10px 0 5px 0;width: 108.5px;text-align: center;}
#contents .slid_bg1 .basket:hover{background: #f00;}
#contents .slid_bg1 .basket p{font-size:10px;color:#fff;}


#contents .menu li:hover .slid_bg1 { transform: translateY(0); }



/*페이지 넘김 버튼*/
#contents .number{margin-left: 290px;}
#contents .number li{float:left; margin-right: 10px;}
#contents .number li:last-child{margin-right: 0;}
#contents .number li:nth-child(7) a{padding-top: 0; padding-bottom: 8px;}
#contents .number li a{display: block; padding: 4px 12px; border: 1px solid #707070; color:#707070;}





/*검색창*/
#header .search{float:right;margin-top:-10px;}
#header .search h1{float:left; margin-right: 10px;}
#header .search h1 >input{padding: 0 10px; background:none; border: none; color:#fff; font-size:16px;margin-top: 15px;}
#header .search h2{float:left;}
#header .search h2 >input{padding: 5px 10px; background: none; border:none;border-bottom: 1px solid #fff;}


/*cs*/
#cs{width:700px; height: 970px; background:rgba(249,249,249,100%); float:right;position: relative;z-index:100000000;position: absolute;top: 0; right: -700px; position: fixed;}
#cs .cs_top{width: 700px; height: 120px;background: #febf10;}
#cs .cs_top p{font-size:35px; color:#fff; font-family: "G마켓 산스"; font-weight:bold; text-align: center;padding-top: 50px}
#cs .closs_button{height: 80px;background: #fff; position: absolute;right: 700px; top:290px;}
#cs .closs_button{position: absolute;left: 0;}

#cs .closs_button2{height: 80px;background: #fff; position: absolute;right: 700px; top:290px; z-index: -1;}
#cs .closs_button2{position: absolute;left: 0;}

#cs .cs_table{width: 500px; margin: 0 auto;position: relative;}
#cs .cs_table p{font-size:25px;color:dimgray;position:  absolute; left: 0; bottom: 15px; font-weight: bold;}
#cs h1{font-size:20px;color:cadetblue;font-weight:500;margin-top: 50px;padding-bottom: 5px;}
#cs .select{width: 500px;height: 35px; font-size:16px; margin-bottom: 20px;border:1px solid #ddd; color:dimgray;}

#cs textarea{width: 500px; height: 300px;border:1px solid #ddd;font-size:16px; color:dimgray;}
#cs h2{font-size:20px;color:cadetblue; font-weight:500;padding-bottom: 5px;}
#cs .file{border: 1px solid #ddd; background: #fff; width: 500px;margin-top: 10px;color:dimgray;padding: 5px 0;}
#cs .submit{width: 80px; height: 40px;background: #f15b25; border: none; border-radius: 7px; margin-top: 10px;color:#fff; font-weight: bold; box-shadow:2px 1px 1px rgba(0,0,0,0.2);}
#cs .submit:focus{border: 2px solid #ddd; border-radius: 7px;}

#cs .reset{width: 80px; height: 40px; background:rgba(0,0,0,0.4); border: none; border-radius: 7px; margin-top: 10px;color:#fff; font-weight: bold; box-shadow:2px 1px 1px rgba(0,0,0,0.2);}

#cs .cs_bottom{width: 100%; height: 1px; background: #495332;margin-top: 190px;}

#cs img{position:absolute; right: 0; top:-20px;}




/*사이드메뉴*/
#hidden_menu {width: 100%;position:relative;z-index: 55555555;}
#hidden_menu .hidden_box{width: 80px;margin:0 auto;
transform: translateY(-20%);}
#hidden_menu .hidden_box{position: fixed;right: 0; top: 420px;}
#hidden_menu .hidden_box .hiidden_top{width: 80px; background: #fff; border: 1px solid #ddd;}



#hidden_menu .hidden1 p{background: #fff; border: 1px solid #ddd;}
#hidden_menu .hidden1 p a{font-size:12px; text-align: center; display:block;padding:10px 5px 10px 5px;line-height: 18px;}


#hidden_menu .hidden2 p{background: #fff; border: 1px solid #ddd;}
#hidden_menu .hidden2 img{padding-top: 5px;}
#hidden_menu .hidden2 p {font-size:12px; text-align: center; display:block;padding:10px 5px 10px 5px;line-height: 18px;}
#hidden_menu .hidden2 .item {background: #fff;border: 1px solid #ddd; padding: 10px 0;}
#hidden_menu .hidden2 .item img {display: block;margin-left: 50%; transform: translateX(-50%);}




#hidden_menu .top p{background: #fff; border: 1px solid #ddd;}
#hidden_menu .top p a{font-size:12px; text-align: center; display:block;padding:15px 5px 15px 5px;}
#hidden_menu .top p:hover{background: #eee; font-weight: bold;}

#hidden_menu .down p{background: #fff; border: 1px solid #ddd;}
#hidden_menu .down p a{font-size:12px; text-align: center; display:block;padding:15px 5px 15px 5px;}
#hidden_menu .down p:hover{background: #eee; font-weight: bold;}







/*풋터영역*/
#footer{height: 500px;background: #3e4018;position: relative;}
#footer .footer_inner{width: 1450px; margin: 0 auto;position: relative;}
#footer .left{float:left;margin-top: 50px;}
#footer address{color:#fff; opacity: 88%;padding-top: 20px;line-height: 35px;font-size:14px;}

#footer .footer_right{float:right; margin-top: 100px;}

#footer .footer_icon1 {width: 150px; height: 300px;
border-left: 1px solid #fff;border-left: 1px solid #fff;border-right: 1px solid #fff; float:left;text-align: center;color:#fff;font-size:12px;}
#footer .footer_icon1 p{padding-top: 70%; opacity: 88%;margin-top: -80px;}
#footer .footer_icon1 p span{display:inline-block;font-size:18px;padding-bottom: 10px;}


#footer .footer_icon2 {width: 150px; height: 300px;
border-right: 1px solid #fff; float:left;text-align: center;color:#fff;font-size:12px;}
#footer .footer_icon2 p{padding-top: 70%;opacity: 88%;margin-top: -80px;}
#footer .footer_icon2 p span{display:inline-block;font-size:18px;padding-bottom: 34px;}
#footer .footer_icon2 .pp1 a{color:#fff; font-size:12px}

#footer .footer_icon3 {width: 150px; height: 300px;
border-right: 1px solid #fff; float:left;text-align: center;color:#fff;font-size:12px;}
#footer .footer_icon3 p{padding-top: 70%;opacity: 88%;margin-top: -80px;}
#footer .footer_icon3 p span{display:inline-block;font-size:18px;padding-bottom: 36px;}
#footer .footer_icon3 .pp2 a{color:#fff;}

#footer .footer_icon4 {width: 150px; height: 300px;
border-right: 1px solid #fff; float:left;text-align: center;color:#fff;font-size:12px;}
#footer .footer_icon4 p{padding-top: 70%;opacity: 88%;margin-top: -80px;}
#footer .footer_icon4 p span{display:inline-block;font-size:18px;padding-bottom: 10px;}
#footer .footer_icon4 .pp3{font-size:12px; display: inline-block;padding-top: 26px;}
#footer .footer_icon4 .pp3 a{color:#fff;}

#footer .ffff{width: 100%; height: 731px; background: url(../images/sub/event_footer.png)no-repeat center center;position: absolute; left: 0; top:-320px; z-index: -1; margin-top:}



